@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    @apply antialiased;
    margin: 0;
}


.secondary-font {
    font-family: "Montserrat", sans-serif;
}

:root {
    --shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
}

.card {
    box-shadow: var(--shadow);
    @apply rounded-xl

}

.hover {
    @apply transition-all duration-500 ease-in-out;

}

.hover:hover {
    @apply -translate-y-2;
}


.btn-action {
    box-shadow: var(--shadow);
    @apply rounded p-5
}